name: Auto Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  auto-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.9
      - name: Install deps
        run: bun install --frozen-lockfile
      - name: Graphic Walker package build
        run: bun run build:gw
      - name: Web app (playground) build
        run: bun run build:playground
